<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules>
				<!-- Remove WebDAV module so that we can make DELETE requests -->
				<remove name="WebDAVModule" />
			</modules>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Riverbed.Pricing.Paint.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: d92a2f0f-c365-480b-a355-ffdbafa0a5c2-->