@using MudBlazor
@using MudBlazor.Extensions.Components
@namespace Riverbed.Pricing.Paint.Client.Shared
@inherits LayoutComponentBase

<MudPopoverProvider />

<div class="main-content">
    @Body
</div>
